/* 
	Global classes 
					*/
body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}

#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
}

.head-bar {
	text-align:  center;
	background-color: rgb(206, 160, 53);
	text-shadow: 2px 2px black;
	color: white;
	margin-bottom: 0px;
}

.back-button {
	text-align: justify;
	align-content:flex-start;
	margin: 10px;
}

/* 
	Albums 
			*/

.albums-album-wrapper {
	/* side-by-side imaging with float:left */ 
		max-width: 130;
		word-wrap: break-word;
		text-align: center;
		float: left;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 10px;
}

.albums-album-art {
	width: 130px;
	height: 130px;
}

.albums-album-name {
	font-size: 18px;
	margin: 2px;
}

.albums-artist-name {
	font-style: italic;
	margin: 2px;
}

/* 
	Songs 
			*/
.songs-info-wrapper {
	/*scrolling in case the info spills over */ 
	margin-bottom: 0px;
	overflow-y: scroll;
	max-height: 131.6px;
}

.songs-album-art {
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 10px;
	width: 130px;
	height: 130px;
}

.songs-album-name {
	font-size: 16px;
	margin: 0;
}

.songs-artist-name {
	font-style: italic;
	margin: 2px;
}

.songs-text-info {
}

.songs-album-year {
	font-size: 18px;
	margin: 2px
}

.songs-list {
	border: solid black 2px;
	border-radius: 10px;
	padding: 1px;
	margin: 5px;
}

/* 
	Player 
			*/
.player-album-art {
	
}

.player-song-info {
	
}

#player-song-name {
	
}

.volume-bar {
	
}

.volume-level {
	
}

.volume-rocker {
	
}

.player-controls{
	
}

#player-time {
	
}

#time-elapsed {
	
}

#time-total{
	
}